PyYAML~=6.0.2
soundfile~=0.12.1
# Стоит раскомментировать только, если выделять библиотеку в отдельные проект
#torch==2.4.1
#torchaudio==2.4.1
tqdm~=4.67.1
# Нужно для дeссериализации модели
pandas~=2.2.3
