# 1 - True, 0 - False
DEBUG=0
TELEGRAM_BOT_TOKEN=

# Данные для подключения к PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Данные для подключения к redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=admin
REDIS_PASSWORD=admin
# Номер базы данных для хранилища машины конченых состояний aiogram
REDIS_STORAGE_DB=0
REDIS_YT_DLP_CACHE_DB=10

# Данные для подключения к ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD="openssl rand -hex 32"

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

MINIO_HOST=localhost
MINIO_PORT=19000
MINIO_USER=user
MINIO_PASSWORD=password
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_LOCAL_SERVER_URL="http://localhost:8081"
TELEGRAM_LOCAL_SERVER_STATS_URL="http://localhost:8082"
TELEGRAM_LOCAL_SERVER_FILES_URL="http://localhost:8083"
TELEGRAM_STAT=1
TELEGRAM_LOCAL=0

VIDEO_DOWNLOAD_QUEUE=video_download_queue
VIDEO_PROCESS_QUEUE=video_process_queue
VIDEO_UPLOAD_QUEUE=video_upload_queue

USE_NISQA=1
MEASURE_RMS=1

WHISPER_MODEL_SIZE=large-v3
WHISPER_COMPUTE_TYPE=float32
OPENAI_MODEL=o1-preview
OPENAI_API_KEY=sk-Sb7SzVFDMy0RkJWTxOGJ38eM6OjySi79
OPENAI_BASE_URL=https://api.proxyapi.ru/openai/v1
OPENAI_PROXY_URL=socks5://bot:0241f56c25de92f85ecc@94.159.104.8:8484
