# 1 - True, 0 - False
DEBUG=0
TELEGRAM_BOT_TOKEN=

# Данные для подключения к PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Данные для подключения к redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=admin
REDIS_PASSWORD=admin
# Номер базы данных для хранилища машины конченых состояний aiogram
REDIS_STORAGE_DB=0

# Данные для подключения к ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD="openssl rand -hex 32"

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

MINIO_HOST=localhost
MINIO_PORT=19000
MINIO_USER=user
MINIO_PASSWORD=password
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_LOCAL_SERVER_URL="http://localhost:8081"
TELEGRAM_LOCAL_SERVER_STATS_URL="http://localhost:8082"
TELEGRAM_LOCAL_SERVER_FILES_URL="http://localhost:8083"
TELEGRAM_STAT=1
TELEGRAM_LOCAL=0

VIDEO_DOWNLOAD_QUEUE=video_download_queue
VIDEO_PROCESS_QUEUE=video_process_queue
