# Обработка аудио
ffmpeg-normalize==1.31.0
python-ffmpeg==2.0.12
pyaudiotoolslib==0.0.2
soundfile==0.12.1
deepfilternet==0.5.6
silero-vad==5.1.2
faster-whisper==1.1.1

--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchaudio/
torch==2.6.0+cu124
torchaudio==2.6.0+cu124

onnxruntime==1.20.1
#--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
#onnxruntime-gpu

# Прочее
coloredlogs~=15.0.1
python-json-logger==3.2.1
pydantic==2.10.6
orjson==3.10.15
yt-dlp==2025.1.26
cashews==7.4.0
pillow==11.1.0
openai==1.61.1
markdown-it-py==3.0.0
lazy-object-proxy==1.10.0
httpx==0.28.1
socksio==1.0.0
PyYAML==6.0.2
tqdm==4.67.1
pandas==2.2.3
prettytable==3.14.0

# -------- Telegram bot -------- #
-r djgram/requirements.txt

# Работа с telegram
aiogram==3.17.0

# Работа с базой данных
alembic==1.14.1
asyncpg==0.30.0
redis==5.2.1
hiredis==3.1.0

# Прочее
python-dotenv==1.0.1
celery==5.4.0
apache-libcloud==3.8.0
